h1{
    background: red;
}

p{
    font-size: 80px;
}

button{
    cursor:pointer;
    background: #C3073F;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 700;
}